apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: ${K8S_NAMESPACE}
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - name: postgres
      port: ${DB_PORT}
      targetPort: 5432
      protocol: TCP
