apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: ${K8S_NAMESPACE}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: ${K8S_DB_STORAGE:-10Gi}
  storageClassName: ${K8S_DB_STORAGE_CLASS:-"standard"}
